.button {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    border-radius: 5px;
    background-color: #E7820C;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.button:hover {
    background-color: #ff8900;
}