.intro__title {
    font-family: Yanone Kaffeesatz, Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 76px;
    margin: 113px 0 0;
    color: #2D2D2D;
}