.header__element {
    margin: 0 25px;
    display: flex;
    align-items: center;
}

.header__element:first-child {
    margin-left: 0;
}

.header__element:last-child {
    margin-right: 0;
}