.button__inline {
    border: 1px solid #FBFBFB;
    border-radius: 5px;
    background-color: unset;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0.06em;
    color: #FBFBFB;
    cursor: pointer;
    width: fit-content;
    margin: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}