.card__link {
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    text-decoration: underline;
    color: #303030;
    margin: 0 0 13px;
}

.card__link:hover {
    color: #E7820C;
}