.header__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    text-decoration: none;
}

.header__link:hover {
    color: #E7820C;
}