.intro__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0.07em;
    color: #0C0C0C;
    max-width: 555px;
    margin: 44px 0 0;
}