.title {
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}