.footer__link {
    font-family: Yanone Kaffeesatz;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FBFBFB;
}