.think__paragraph {
    width: 80%;
    padding-left: 154px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #616161;
}