.intro {
    background-image: url('./intro__logo.png');
    background-position: top right;
    background-size: 1055px 660px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 661px;
}