<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.index.css %>">
</head>
<body class="page">
    <div class="page__root">
        <header class="header">
            <ul class="header__menu">
                <li class="header__element">
                    <a class="header__link" href="#">Главная</a>
                </li>
                <li class="header__element">
                    <a class="header__link" href="#">О проекте</a>
                </li>
                <li class="header__element">
                    <a class="header__link" href="#">Что такое "сексуальное насилие"?</a>
                </li>
                <li class="header__element">
                    <a class="header__link" href="#">Пережившим насилие</a>
                </li>
                <li class="header__element">
                    <a class="header__link" href="#">Родителям</a>
                </li>
                <li class="header__element">
                    <a class="header__link" href="#">Обратиться за поддержкой</a>
                </li>
            </ul>
            <button class="header__donate button button_white button_bordered_all">Помочь проекту</button>
        </header>
        <main class="content">
            <section class="content__intro intro">
                <h1 class="intro__title">ТЕБЕ ПОВЕРЯТ</h1>
                <h3 class="intro__subtitle">11% детей и подростков проходят через сексуальное насилие в разных формах. Этот страшный опыт сложно забыть.<br>Мы знаем, что это очень больно.<br>Мы тебе верим.</h3>
                <div class="intro__button button">
                    <button class="button__inline">Обратиться за поддержкой</button>
                </div>
            </section>

            <section class='think'>
                <h2 class='think__title title'>“Виноват в насилии всегда насильник”</h2>
                <p class='think__paragraph'>Вопреки распространенной идее о "страшных педофилах с улицы" до 80-90% случаев сексуального насилия над детьми и подростками происходит внутри семьи.
                    Нет, вы не ошиблись в прочтении: внутри семьи. Отчимы, братья, дяди, отцы. Дети - самые легкие жертвы, их легко запугать, обмануть, запутать манипуляциями. Следующая категория,
                    в которой совершается сексуальное насилие - в близком окружении. Друзья семьи, мальчики
                    со двора и школы, тренер, учитель. 
                    </p>
                <p class='think__paragraph'>Дети не виноваты в совершенном насилии. Мы никогда не поддержим применяемую
                    и к детям и подросткам недопустимую риторику "насильника спровоцировали".
                    Виноват в насилии всегда насильник.</p>
                <h2 class='think__title title'>Главное оружие насильника — стыдливое молчание жертвы.</h2>
                <p class='think__paragraph'>Стыд, страх, сомнение. Неготовность говорить о сексуальном насилии со стороны общества, самой жертвы, семьи. Не поддержка окружающими, давление "Ничего не было!",
                    "Это не насилие", "Давайте забудем, это было давно, и уже неважно". Родители часто
                    не готовы услышать информацию о насилии, не знают, что с ней делать и занимают избегающую позицию. Нет культуры обращения к специалистам по этой теме.
                    Так это устроено сегодня там, где мы с вами живем.
                    </p>
                <p class='think__paragraph'>Настало время это менять. Давайте признаем, что проблема сексуального насилия над детьми остро стоит и в России. 
                    Начнем говорить о личных границах, теле, здоровых отношениях, сексуальном насилии. И вместе придумывать, что делать: как учить родителей, детей, учителей, чтобы сократить уровень насилия над самыми беззащитными. </p>
            </section>

            <section class="content__childrens childrens">
                <h3 class="childrens__title title">Тебе поверят - это хаб-центр образовательных, психологических, медийных инициатив, направленных на сокращение сексуального насилия над детьми через внесение вклада в:</h3>
                <ul class="childrens__grid">
                    <li class="card">
                        <img class="card__img" src="<%=require('./images/card1.png') %>">
                        <p class="card__description">Поддержку тех, кто прошёл через этот опыт</p>
                    </li>
                    <li class="card">
                        <img class="card__img" src="<%=require('./images/card2.png') %>">
                        <p class="card__description">Образованиe<br>родилей и детей</p>
                    </li>
                    <li class="card">
                        <img class="card__img" src="<%=require('./images/card3.png') %>">
                        <p class="card__description">Рост осведомленности в обществе о проблеме</p>
                    </li>
                    <li class="card">
                        <img class="card__img" src="<%=require('./images/card4.png') %>">
                        <p class="card__description">Формирование новых норм и культуры ненасилия</p>
                    </li>                
                </ul>
            </section>

            <section class="content__questions questions">
                <h2 class="questions__title title">Что такое хорошо, что такое плохо</h2>
                <p class="questions__subtitle">Разобрали терминологию и подготовили ответы на самые частые вопросы.</p>
                <div class="questions__list">
                    <button class="questions__question-button button button_white button_shrinked button_bordered_down">Что считается насилием?<span>+</span></button>
                    <button class="questions__question-button button button_white button_shrinked button_bordered_down">Что происходит с системой защиты детей от сексуального насилия?<span>+</span></button>
                    <button class="questions__question-button button button_white button_shrinked button_bordered_down">Неужели сексуального насилия над детьми и правда так много?<span>+</span></button>
                    <button class="questions__question-button button button_white button_shrinked button_bordered_down">Дети об этом врут?<span>+</span></button>
                    <button class="questions__question-button button button_white button_shrinked button_bordered_down">Есть ли способы защитить своего ребенка?<span>+</span></button>
                    <button class="questions__question-button button button_white button_shrinked button_bordered_down">Почему взрослые совершают насилие над детьми?<span>+</span></button>
                    <button class="questions__question-button button button_white button_shrinked button_bordered_down">Что делать, если я подозреваю, что это произошло с моим ребенком?<span>+</span></button>    
                </div>
                <div class="questions__button button">
                    <button class="button__inline">Материалы для самопомощи и статьи здесь</button>
                </div>
            </section>

            <section class="content__stories stories">
                <h2 class="stories__title">Наши истории</h2>
                <p class="stories__subtitle">Мы прошли через сексуальное насилие в детстве.<br>Мы хотим, чтобы ни с кем больше этого не происходило.</p>
                <ul class="stories__container">
                    <li class="card card_rounded">
                        <article class="card__inner-border">
                            <h3 class="card__title">Заголовок</h3>
                            <hr class="card__line">
                            <blockquote class="card__quote">«Стыд, страх, сомнение.<br>Неготовность говорить о сексуальном насилии со стороны общества, самой жертвы, семьи».</blockquote>
                            <p class="card__text">Не поддержка окружающими, давление "Ничего не было!", "Это не насилие", "Давайте забудем, это было давно, и уже неважно". Родители часто не готовы услышать информацию о насилии, не знают, что с ней делать и занимают избегающую позицию.</p>
                            <a class="card__link" href="#">Читать</a>
                        </article>
                    </li>
                    <li class="card card_rounded">
                        <article class="card__inner-border">
                            <h3 class="card__title">Заголовок</h3>
                            <hr class="card__line">
                            <blockquote class="card__quote">«Стыд, страх, сомнение.<br>Неготовность говорить о сексуальном насилии со стороны общества, самой жертвы, семьи».</blockquote>
                            <p class="card__text">Не поддержка окружающими, давление "Ничего не было!", "Это не насилие", "Давайте забудем, это было давно, и уже неважно". Родители часто не готовы услышать информацию о насилии, не знают, что с ней делать и занимают избегающую позицию.</p>
                            <a class="card__link" href="#">Читать</a>
                        </article>
                    </li>
                    <li class="card card_rounded">
                        <article class="card__inner-border">
                            <h3 class="card__title">Заголовок</h3>
                            <hr class="card__line">
                            <blockquote class="card__quote">«Стыд, страх, сомнение.<br>Неготовность говорить о сексуальном насилии со стороны общества, самой жертвы, семьи».</blockquote>
                            <p class="card__text">Не поддержка окружающими, давление "Ничего не было!", "Это не насилие", "Давайте забудем, это было давно, и уже неважно". Родители часто не готовы услышать информацию о насилии, не знают, что с ней делать и занимают избегающую позицию.</p>
                            <a class="card__link" href="#">Читать</a>
                        </article>
                    </li>
                </ul>
            </section>

            <section class='care'>
                <div class='care__content'>
                    <h1 class='care__title title'>Мы вам поверим</h1>
                    <hr class='care__border'>
                    <div class='care__paragraphs'>
                        <p class='care__paragraph'>Вместе с командой мы запустили службу доступной психологической помощи для тех, кто столкнулся с инцестом и сексуальным насилием в детстве и подростковом возрасте. Такая узкая "специализация" оправдана, пока очень сложно найти специалистов, которые готовы браться за такую тему и бережно с ней работать.</p>
                        <p class='care__paragraph'>Тут специалисты будут готовы поддержать людей именно с этой проблемой, понимая, к каким последствиям приводит эта серьезная травма, про то,  как сложно об этом говорить, про нередко встречающееся давление и неприятие со стороны семьи, про страх и стыд, скрываемый и от близких, про то, как угрозами, манипуляциями, обманом насильники заставляют молчать. Мы готовы говорить об этом и помогать справиться.</p>
                    </div>
                    <div class="care__button button">
                        <button class="button__inline">Обратиться за поддержкой</button>
                    </div>
                </div>
                <img class='care__image' src="<%=require ('./images/care__image.png') %> " alt='изображение'>
            </section>

            <section class='helper'>
                <h2 class='helper__title title'>Как нам помочь?</h2>
                <div class='helper__paragraphs'>
                    <p class='helper__paragraph'>Финальный призыв.<br> Если вы хотите оказывать психологическую помощь и запустить группу поддержки, пишите на <a class='helper__link' href='mailto:someone@example.com'>yulya@gmail.com.</a></p>
                    <p class='helper__paragraph'>Чтобы написать о проблеме, пишите <a class='helper__link' href='mailto:someone@example.com'>anya@gmail.com.</a></p>
                </div>
            </section>
        </main>
        <footer class='footer'>
            <ul class='footer__lists'>
                <li class='footer__list'><a class='footer__link' href='#'>Фото - Мария Гельман</a></li>
                <li class='footer__list'><a class='footer__link' href='#'>«Тебе никто не поверит»</a></li>
                <li class='footer__list'><a class='footer__link' href='#'>«Дед Мороз не услышал»</a></li>
                <li class='footer__list'>
                   <div class='footer__point'>
                        <svg class='footer__svg' width="22" height="32" viewBox="0 0 22 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 31.5V1" stroke="#FBFBFB"/>
                            <path d="M1 9.5L11 1L21 9.5" stroke="#FBFBFB"/>
                        </svg>                    
                        <a class='footer__link'>В начало</a>
                </div>
                </li>
            </ul>
        </footer>
    </div>
    <script src="<%=htmlWebpackPlugin.files.chunks.index.entry %>" defer></script>
</body>
</html>