.header {
    display: flex;
    margin: 0;
    justify-content: space-between;
    border-bottom: 1px solid #838383;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}