.think__title {
    padding-top: 76px;
    padding-bottom: 10px;
    padding-left: 155px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.think__title:before, .think__title:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #000;
    z-index: -1;
    position: relative;
    vertical-align: middle;
}

.think__title:before {
    right: 15px;
    margin: 0 0 0 -100%;
   }
   .think__title:after {
    left: 15px;
    margin: 0 -100% 0 0;
   }
   